In [57]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [58]:
xl = pd.ExcelFile("merged1.xlsx")
xl.sheet_names

['Sheet1']

In [59]:
df = xl.parse("Sheet1")
df.head()

,1574553619579,13.355469,-13.603123,-35.13745,0,0.1,0.2,0.3,0.4,0.5,2
0,1574553619630,13.355469,-13.603123,-35.137450,0.000000,0.000000,0.000000,-0.039981,0.130718,9.727702,2
1,1574553619727,13.355469,-13.603123,-35.137450,0.001737,0.000756,0.000752,-0.039981,0.130718,9.727702,2
2,1574553619779,13.198412,-13.759014,-35.660446,0.001737,0.000756,0.000752,-0.039981,0.130718,9.727702,2
3,1574553619824,13.198412,-13.759014,-35.660446,0.001737,0.000756,0.000752,-0.038066,0.128803,9.717886,2
4,1574553619919,13.198412,-13.759014,-35.660446,0.001493,0.001000,0.001180,-0.038066,0.128803,9.717886,2

In [60]:
df.columns = ["timestamp", "magneto_x", "magneto_y", "magneto_z", "gyro_x", "gyro_y", "gyro_z", "accel_x", "accel_y", 
              "accel_z", "label"]

In [61]:
df.head()

,timestamp,magneto_x,magneto_y,magneto_z,gyro_x,gyro_y,gyro_z,accel_x,accel_y,accel_z,label
0,1574553619630,13.355469,-13.603123,-35.137450,0.000000,0.000000,0.000000,-0.039981,0.130718,9.727702,2
1,1574553619727,13.355469,-13.603123,-35.137450,0.001737,0.000756,0.000752,-0.039981,0.130718,9.727702,2
2,1574553619779,13.198412,-13.759014,-35.660446,0.001737,0.000756,0.000752,-0.039981,0.130718,9.727702,2
3,1574553619824,13.198412,-13.759014,-35.660446,0.001737,0.000756,0.000752,-0.038066,0.128803,9.717886,2
4,1574553619919,13.198412,-13.759014,-35.660446,0.001493,0.001000,0.001180,-0.038066,0.128803,9.717886,2

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40133 entries, 0 to 40132
Data columns (total 11 columns):
timestamp    40133 non-null int64
magneto_x    40133 non-null float64
magneto_y    40133 non-null float64
magneto_z    40133 non-null float64
gyro_x       40133 non-null float64
gyro_y       40133 non-null float64
gyro_z       40133 non-null float64
accel_x      40133 non-null float64
accel_y      40133 non-null float64
accel_z      40133 non-null float64
label        40133 non-null int64
dtypes: float64(9), int64(2)
memory usage: 3.4 MB

In [63]:
features = ["timestamp", "magneto_x", "magneto_y", "magneto_z", "gyro_x", "gyro_y", "gyro_z", "accel_x", "accel_y", 
              "accel_z"]
X = df[features]
X

,timestamp,magneto_x,magneto_y,magneto_z,gyro_x,gyro_y,gyro_z,accel_x,accel_y,accel_z
0,1574553619630,13.355469,-13.603123,-35.137450,0.000000,0.000000,0.000000,-0.039981,0.130718,9.727702
1,1574553619727,13.355469,-13.603123,-35.137450,0.001737,0.000756,0.000752,-0.039981,0.130718,9.727702
2,1574553619779,13.198412,-13.759014,-35.660446,0.001737,0.000756,0.000752,-0.039981,0.130718,9.727702
3,1574553619824,13.198412,-13.759014,-35.660446,0.001737,0.000756,0.000752,-0.038066,0.128803,9.717886
4,1574553619919,13.198412,-13.759014,-35.660446,0.001493,0.001000,0.001180,-0.038066,0.128803,9.717886
...,...,...,...,...,...,...,...,...,...,...
40128,1574552392407,22.936758,-40.710567,-18.845306,-0.125934,-0.042764,-0.027161,0.088342,7.281892,6.300311
40129,1574552392483,22.936758,-40.710567,-18.845306,-0.125934,-0.042764,-0.027161,-0.112044,6.958927,6.902426
40130,1574552392562,22.629631,-39.763744,-20.649406,-0.125934,-0.042764,-0.027161,-0.112044,6.958927,6.902426
40131,1574552392599,22.629631,-39.763744,-20.649406,-0.238272,0.067069,0.047121,-0.112044,6.958927,6.902426
40132,1574552392677,22.629631,-39.763744,-20.649406,-0.238272,0.067069,0.047121,0.327752,7.125317,6.932353

In [64]:
target = ["label"]
y = df[target]
y

       label
0          2
1          2
2          2
3          2
4          2
...      ...
40128      1
40129      1
40130      1
40131      1
40132      1

[40133 rows x 1 columns]

In [65]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn import preprocessing
from sklearn import utils
from sklearn import metrics

In [66]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [67]:
temp_train = y_train.values.reshape(-1,)
temp_test = y_test.values.reshape(-1,)

for i in range(1,20):
    model = RandomForestClassifier(n_estimators=i)
    model.fit(X_train, temp_train)
    print("Model score for no of trees",i," is : ",model.score(X_test, temp_test))

Model score for no of trees 1  is :  0.9970100909430671
Model score for no of trees 2  is :  0.9973838295751838
Model score for no of trees 3  is :  1.0
Model score for no of trees 4  is :  0.9995016818238446
Model score for no of trees 5  is :  0.9996262613678834
Model score for no of trees 6  is :  0.9995016818238446
Model score for no of trees 7  is :  0.9998754204559611
Model score for no of trees 8  is :  1.0
Model score for no of trees 9  is :  0.9997508409119222
Model score for no of trees 10  is :  0.9998754204559611
Model score for no of trees 11  is :  0.9997508409119222
Model score for no of trees 12  is :  0.9998754204559611
Model score for no of trees 13  is :  1.0
Model score for no of trees 14  is :  0.9997508409119222
Model score for no of trees 15  is :  0.9998754204559611
Model score for no of trees 16  is :  1.0
Model score for no of trees 17  is :  0.9998754204559611
Model score for no of trees 18  is :  1.0
Model score for no of trees 19  is :  1.0